.main-section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    background-image: url(../images/background1.webp); 
    background-size: cover;
}

.main-left p,h2,h1,div{
    position: relative;
}

.main-left h2{
    margin-top: 23vh;
    top: 12px;
    font-family: "Damion", sans-serif;
    font-weight: 400;
    font-size: 1.8em;
}

.main-left h1{
    font-size: 5em;
}

.main-left p{
    font-size: 1.3em;
}

.media {
    margin-top: 30px;
}

.fa-facebook,.fa-github{
    padding-left: 10px;
}

img{
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.422);
    max-width: 100%;
    margin-top: 14vh;
}

@media only screen and (max-width: 1000px){
    .main-section {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .main-left h2{
        margin-top: 10vmin;
    }

    .img-container{
        display: flex;
        justify-content: center;
    }
    img{
        margin-top: 50px;
    }

}