.navbar {
    padding-right: 8vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
    background-color: transparent;
}

.navbar div {
    padding-right: 4vw;
    padding-top: 20px;
}

.nav-link {
    color: rgba(0, 0, 0, 0.6);
}

.active {
    color: #000;
    font-size: 1.1em;
}

a.nav-link:hover{
    color: rgb(50, 173, 255);
}

.seperator {
    margin: 0 20px;
    height: 2px;
    background-image: linear-gradient(rgb(189, 189, 189),rgb(230, 230, 230),rgb(230, 230, 230),rgb(190, 190, 190));
}

@media screen and (max-width: 460px){
    .navbar{
        font-size: x-small;
    }
}

@media screen and (max-width: 300px){
    .navbar{
        font-size: xx-small;
    }
}